{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Content block -->
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md">
        <!-- Macro to display according to categories -->
        <ul>
            {{ macro.displayPitchesCat(pitches_list) }}
        </ul>
      </div>
      <div class="col-md">

    <h1>Categories</h1>
        <hr>

        {% if pitch %}
            {{ macro.displayPitchesCat(pitches_list)}}

        {% else%}
            <h3 class="text-center">This movie has no reviews </h3>

            <a class="btn btn-success btn-lg text-center" href="/submitpitch/1234"> Write a new review</a>
        {% endif %}

      </div>
  </div>
</div>
{% endblock %}
